
    <form action="/Filesystem" method="get">
        Path: <input type="text" name="path" value="{PATH}" size="50" />
        <input type="hidden" name="pattern" value="*" />
        <input type="submit" name="getFiles" value="List Files" />
    </form>
    <script type="text/javascript">
        var params = {};
        window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
            function (str, key, value) {
                params[key] = value;
            }
        );
        document.forms[0].path.value = decodeURIComponent(params["path"].replace("+", " "));
    </script>
    <p><br />{CONTENT}</p>
